@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inter:wght@400;700&family=Jaldi&family=Manrope:wght@800&family=Philosopher&family=Poor+Story&family=Roboto:wght@300;400&family=Rubik+Dirt&family=Source+Sans+Pro&family=Space+Mono&family=Special+Elite&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/* html {
  min-height: 100%;
}

body {
  
  min-height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
} */


/* 
  By creating a container that will wrap all elements within the page and making that container a column, I can then make another container that will hold all the main content and keep that seperate from the footer. The main content will have the flex-grow attribute which will allow it to take up empty space, and the footer will marign top of auto, which will automatically bring it down and keep it down to the bottom of page.
*/
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgba(8, 0, 47, 1);
  font-family: 'Jaldi', sans-serif;
}

.mainContent {
  flex-grow: 1;
}

/* Begin CSS for Sign In Page */

.splashImg {
  background-image: url('./assets/truckSplashImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  height: 100vh;
  width: auto;
}

.splashText {
  /* position: absolute; */
  /* top: 20rem; */
  margin-top: 12.6875rem !important;
  font-size: 3.25rem;
  font-family: 'Orelega One', cursive;
  color: white;
  background-color: rgba(8, 0, 47, 0.68);
  /* width: 50%; */
  height: 12.4375rem;

}

.signUpText {
  position: sticky;
  top: 36.5rem;
}

.yellowText {
  color: rgba(246, 250, 65, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
  color: rgba(44, 73, 225, 1) !important;
}

.loginBox {
  border: solid 1px #6A82FF;
  min-width: 17.625rem;
  height: 21rem;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.loginInput{
  height: 2.875rem;
  min-width: 13.5rem;
  border: solid 1px #2C49E1;
  border-radius: .625rem;
}

.loginFleetLogo {
  max-height: 4.875rem;
  min-width: auto;
}

input .form-control {
  height: 2.875rem;
  min-width: 13.5rem;
  border: solid 2px #2C49E1 !important;
  border-radius: .625rem;
}

.loginInput::placeholder {
  padding-left: .5rem;
  color: gray;
}

.signInButton {
  height: 2.875rem;
  min-width: 13.5rem;
  background-color: rgba(44, 73, 225, 1) !important;
  border: none;
  border-radius: .625rem;
}

/* END sign in page CSS */

/* Begin CSS for Sign Up Page */

.leftSignUpColumn {
  background-color: rgba(8, 0, 47, 1);
  max-width: 38.3125rem;
  height: 57.375rem;
  font-size: 4rem;
  color: white;
}

.fleetFinderIconSignUp {
  height: 12.5rem;
  min-width: auto;
}

.createAccountBtn {
  height: 3rem;
  width: 100%;
  background-color: rgba(44, 73, 225, 1) !important;
}

.inputFieldStyle {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: solid 1px #2C49E1 !important;
  height: 3.25rem;
}

/* END sign up page CSS */

/* Begin Footer CSS */

.footer {
  min-height: 4.6875rem;
  width: 100vw;
  background-color: #6A82FF2B;
  /* position: relative;
  bottom: auto; */
  margin-top: auto;
  width: 100%;
}

.footerIcon {
  max-height: 1.5625rem;
  min-width: auto;
}

/* END Footer CSS */

/* Begin Dispatch Dashboard CSS */

.darkBlueBG {
  background-color: rgba(8, 0, 47, 1) !important;
}

.lightBlueBG {
  background-color: rgba(44, 73, 225, 1) !important;
}

.blueText {
  color: rgba(44, 73, 225, 1);
}

div .accordion .accordion-item {
  border: solid 1px rgba(44, 73, 225, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* min-height: 6.25rem; */
}

.accordion-header button {
  color: rgba(44, 73, 225, 1);
}

.trailerInTransit {
  color: rgba(22, 154, 0, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(44, 73, 225, 1);
}

.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(44, 73, 225, 1) !important;
  border-radius: 1.25rem !important;
  width: 17.625rem;
}

.card-title {
  font-size: 2rem !important;
  color: rgba(44, 73, 225, 1);
}

/* End dispatch dashboard CSS */

/* BEGIN trailer count request form CSS */

.requestForm, .addLocationForm {
  border: solid 1px rgba(44, 73, 225, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}

/* End trailer count request form CSS */

/* Navbar test CSS */
.bellIcon {
  height: 1.5625rem !important;
  margin-right: .2rem;
}

.mainNav {
  background-color: rgba(8, 0, 47, 1) !important;
  min-height: 7.3125rem;
  font-family: 'Jaldi', sans-serif;
}

.bellButton {
  border: none !important;
}

.redCircle {
  border-radius: 100%;
  background-color: red;
  min-width: 1.1rem;
  height: auto;
  font-size: .7rem;
}

.nav-link:hover {
  color: rgba(44, 73, 225, 1) !important;
}

/* Dispatch Account Page CSS */

.listGroupStyleTemplate {
  border: solid 1px rgba(106, 130, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.25);
}

.lightBlueBorder {
  border: solid 1px rgba(106, 130, 255, 1) !important;
}

.offcanvas {
  background-color: rgba(8, 0, 47, 1)!important;
  border: solid 3px rgba(44, 73, 225, 1) !important;
  color: white !important;
  font-family: 'Jaldi', sans-serif;
}

.btn-close {
  color: white !important;
}

table {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* END Dispatch Account Page CSS */

/* Driver Account CSS */
.pastSubmission {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(44, 73, 225, 1) !important;
  border-radius: 1.25rem !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating {
  animation: pulse 1s infinite;
}