:root {
  --jaldiFont: 'Jaldi', sans-serif;
}

body {
  font-family: var(--jaldiFont);
}

.splashImg {
  background-image: url('./assets/truckSplashImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
  height: 100vh;
  width: auto;
}

.loginBox {
  border: solid 2px #6A82FF;
  min-width: 17.625rem;
  height: 21rem;
}