@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inter:wght@400;700&family=Jaldi&family=Manrope:wght@800&family=Philosopher&family=Poor+Story&family=Roboto:wght@300;400&family=Rubik+Dirt&family=Source+Sans+Pro&family=Space+Mono&family=Special+Elite&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(8, 0, 47, 1);
  font-family: 'Jaldi', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@font-face {
  font-family: Jaldi ;
  src: url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
}

.brColor{
  background-color: #08002F;
  height: 7.3125rem;
}

.fleetCustomize{
  color: whitesmoke;
  font-family: Jaldi ;
  padding-top: 5px;
  font-size: 20px;
}

.accCount{
  color: whitesmoke;
  padding-left: 5px;
  font-family: Jaldi ;
}

.dashCuz{
  color: #2C49E1;
  padding-left: 60rem;
  padding-top: 5px;
  font-family: Jaldi ;
}

.bellNoti{
  padding-right: 15px;
}

.cardCuz{
  padding-top: 6rem;
}

.rowCardCuz{
  padding-left: 10rem;
}

.borderColor{
  border-color: red;
}

.textColor{
  color: whitesmoke;
}

.yardCuz{
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-family: Jaldi ;
  padding-left: 1rem;
  
}

.locationCuz{
  padding-left: 20rem;
}

.butCuz{
  padding-left: 63rem;
}

.welcomeCuz{
  padding-top: 3rem;
  font-family: Jaldi ;
}

.wellCuz{
  font-family: Jaldi ;
}

.stepsCuz{
  font-family: Jaldi ;
  font-size: 1.5rem;
  color: #2C49E1;
}

.signCuz{
  padding-top: 10rem;
}

.suCuz{
  color: #2C49E1;
  font-family: Jaldi ;
  font-weight: bold;
}

.siButton{
  background-color: rgba(8, 0, 47, 1) !important;
  width: 8rem;
}

.buttonColor{
  background-color: rgba(8, 0, 47, 1) !important;
  width: 13rem;
}

.fCuz{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.lineCuz{
  padding-top: 19rem;
}

.lCuz{
  width: 100%;
}

.trfCuz{
  color: black !important;
  font-family: Jaldi ;
  font-weight: bold !important;
}

.footCuz{
  padding-top: 4rem;
}

.tfysCuz{
  color: #2C49E1;
  font-family: Jaldi ;
  font-weight: bold !important;
  padding-top: 18rem;
}

.footCuz{
 padding-top: 22rem;
}

.listCuz{
  border-color: #2C49E1 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aCuz{
  color: #2C49E1;
}